<footer class="site-footer">
    <div class="wrapper"> 
        <div class="footer-col">
            {% for item in site.data.social_media.socials %}
            <a href="{{ item.href }}{{ item.username }}" title="{{ item.title }}" class="social-icon" target="_blank">
                <i class="{{ item.fa-icon }} fa-xl"></i>
            </a>
            {% endfor %}
            <div class="copywrite">
                Copyright &copy; <script>document.write(new Date().getFullYear());</script>, {{site.name}}
            </div>
        </div>
    </div>
</footer>