--- 
layout: default 
---
    <div class="container home">
        <div class="row flex align-items-center">
            <div class="col col-md-5">
                <img class="img-fluid home-img" alt="Me" src="../assets/img/adam.jpeg" />
            </div>
            <div class="col col-md-7">
                <p>
                    👋 Hi, I'm Adam.
                </p>
                <p>
                    I'm a Software Engineer 👨‍💻 working at <a class="link-in-text" href="https://www.codat.io/" target="_blank">Codat</a>. And previously at <a class="link-in-text" href="https://www.barnett-waddingham.co.uk/" target="_blank">Barnett Waddingham</a>.
                </p>
                <p>
                    I graduated 🎓 from the <a class="link-in-text" href="https://www.uea.ac.uk/" target="_blank">University of East Anglia</a> in 2019 with a 1st class Mathematics degree.
                </p>
                {{content}}
            </div>
        </div>
    </div>