--- 
layout: default 
---
    <div class="container home">
        <div class="row flex align-items-center">
            <div class="col col-md-5">
                <img class="img-fluid home-img" alt="Me" src="../assets/img/adam.jpeg" />
            </div>
            <div class="col col-md-7">
                <p>
                    👋 Hi, I'm Adam.
                </p>
                <p>
                    I'm a backend Software Engineer, specialising in the 
                    <a class="link-in-text" href="https://dotnet.microsoft.com/en-us/" target="_blank">.NET</a> stack, working at 
                    <a class="link-in-text" href="https://newday.co.uk" target="_blank">NewDay</a>. And previously at 
                    <a class="link-in-text" href="https://www.codat.io/" target="_blank">Codat</a> and 
                    <a class="link-in-text" href="https://www.barnett-waddingham.co.uk/" target="_blank">Barnett Waddingham</a>.
                </p>
                <p>
                    I graduated 🎓 from the <a class="link-in-text" href="https://www.uea.ac.uk/" target="_blank">University of East Anglia</a> in 2019 with a 1st class Mathematics degree.
                </p>
                <p>
                    In my spare time I am an avid 
                    <a class="link-in-text" href="https://www.squashlevels.com/player_detail.php?player=197041" target="_blank">squash player</a> and 
                    sfilm fan.
                </p>
                {{content}}
            </div>
        </div>
    </div>